---
import BaseLayout from "../../../layout/BaseLayout.astro"
import data from "../../../data/data.json"

const id = "retouch";
const servicesData = data.find(s => s.id === "services");
const service = servicesData?.content.find(s => s.id === id);
---

<BaseLayout title={service?.title ?? "Ретушь"}>
  <section class="w-full h-[calc(100svh-2.5rem)] md:h-[calc(100svh-2.5rem)] lg:h-[calc(100svh-3rem)] flex">
    <div class="flex flex-col lg:flex-row w-full h-full gap-8 sm:gap-20 lg:gap-0">
      <!-- Image -->
      <div class="w-full h-1/2 lg:flex-1 lg:h-full">
        <img src={`/src/images/${service?.image}`} alt={service?.title} class="w-full h-full object-cover clip-slant-bottom sm:clip-path-none">
      </div>
      <!-- Content -->
      <div class="w-full lg:flex-1 flex justify-center items-center">
        <div class="wrapper w-[23.75rem] text-center">
          <!-- <a href="/services/" class="text-sm text-zinc-400 hover:text-zinc-200 transition-colors mb-6 inline-block">← Назад к услугам</a> -->
          <div class="group relative inline-block mb-20 xl:mb-25">
            <h2 class="relative z-10 text-3xl md:text-4xl lg:text-5xl text-olive-50 text-center font-bold uppercase font-features-['smcp']">{service?.title}</h2>
            <div class="absolute inset-y-0 -left-2 -right-2 z-0 -rotate-9 sm:-rotate-5 scale-x-165 scale-y-160 bg-rose-400 opacity-100"></div>
          </div>
          <ul class="px-4 space-y-2 text-left">
            {service?.list.map(item => (
              <li class="text-lg text-zinc-500 font-medium flex flex-col border-b-1 border-dashed border-zinc-700 pb-2">
                {item.title}
                {"price" in item && item.price && <span class="text-price-gray self-end">{item.price} руб./{item.quantity}</span>}
              </li>
            ))}
          </ul>
          {"note" in service && service.note && <p class="px-4 mt-8 text-left italic text-zinc-500 font-light">{service.note}</p>}

          <a href="/services/" class="flex items-center gap-4 px-4 mt-12 group cursor-pointer">
            <div class="w-12 h-12 rounded-full bg-sky-600 text-white flex items-center justify-center transition-transform duration-300 group-hover:scale-110 group-hover:bg-sky-400">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
              </svg>
            </div>
            <span class="text-sm font-bold uppercase tracking-wider text-zinc-400 group-hover:text-sky-600 transition-colors">Вернуться к списку услуг</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
